<!doctype html>
<html lang="en">
<head>
    <title>DailyCustomMessage</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="css/inc/bootstrap.min.css">
    <link rel="stylesheet" href="css/countdown.css">
    <link rel="stylesheet" href="css/message.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<main>
    <div class="message">
        <div class="message-container" id="message"></div>
    </div>
    <script type="text/template" id="text-template">
        <div class="message-entry">
            <span><%= value %></span>
        </div>
    </script>
    <script type="text/template" id="image-template">
        <div class="message-entry">
            <img src="<%= value %>">
        </div>
    </script>
    <script type="text/template" id="youtube-template">
        <div class="message-entry embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/<%= value %>"></iframe>
        </div>
    </script>

    <div class="countdown">
        <div class="countdown-container" id="countdown"></div>
    </div>
    <script type="text/template" id="countdown-template">
        <div class="time <%= label %>">
            <span class="count curr top"><%= curr %></span>
            <span class="count next top"><%= next %></span>
            <span class="count next bottom"><%= next %></span>
            <span class="count curr bottom"><%= curr %></span>
            <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
    </script>
</main>

<!-- JavaScript External -->
<script src="js/inc/jquery-3.2.1.min.js"></script>
<script src="js/inc/popper.min.js"></script>
<script src="js/inc/lodash.min.js"></script>
<script src="js/inc/jquery.countdown.min.js"></script>
<script src="js/inc/bootstrap.min.js"></script>

<!-- JavaScript Internal -->
<script src="js/countdown.js"></script>
<script src="js/message.js"></script>
<script src="js/main.js"></script>

</body>
</html>
